<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Game Trends</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'userApp/css/mainStyles.css' %}"> 
    <link type="text/css" rel="stylesheet" href="{% static 'userApp/css/profileStyles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">
    <script src="https://kit.fontawesome.com/8cca80b5d2.js" crossorigin="anonymous"></script>
</head>
<header>
    <div class="bar">
        <div class="logo">
            <a href="{% url 'userApp:home' %}">
                <img src="{% static 'userApp/images/game-trends-logo.png' %}" alt="Game Trends Logo" id="logo">
            </a>
        </div>
        <div class="profileContainer">
            <div class="profile-icon">
                <a href="{% url 'userApp:profile' %}"><svg xmlns="http://www.w3.org/2000/svg" height="46" width="46" viewBox="0 0 512 512">
                    <path fill="#48ff00" d="M399 384.2C376.9 345.8 335.4 320 288 320H224c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z"/>
                    </svg>
                    <style>
                        #myPath {
                            fill: #48ff00;
                            transform: matrix3d();
                        }
                    </style>
                </a>
            </div>
        </div>
        <div class="nav-bar">
            <nav>
                <a href="{% url 'userApp:home' %}"><button class="nav-button">Home</button></a>
                <a href="{% url 'userApp:profile' %}"><button class="nav-button">Profile</button></a>
                <a href="{% url 'userApp:friends' %}"><button class="nav-button">Friends</button></a>
                <a href="{% url 'userApp:store' %}"><button class="nav-button">Store</button></a>
            </nav>
        </div>
    </div>
</header>
<body>
    <div>
        <h1>Store</h1>
    </div>
</body>
<footer>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h1 class="logo-text"><span>Game</span>Trends</h1>
                <p>
                    Game Trends is a website where users can post reviews about games they have played. 
                    Users can also view other users' profiles and see what games they have reviewed.
                </p>
                <div class="contact">
                    <span><i class="fas fa-phone"></i> &nbsp; (123) 456-7890</span><br>
                    <span><i class="fas fa-envelope"></i> &nbsp; enquiries@gametrends.com</span>
</footer>
</html>