.container {
    height: 200px;
    position: relative;
    border: black 1px solid;
    margin: 20px 140px;
}

.logoutContainer {
    float: right;
    /* border: red 1px solid; */
    margin: 20px 10px;
    padding-top: 15px;
}

.logOut {
    position: relative;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 18px;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin: 16px 2px;

}