html {
    background-color: #2a2a2a;
    color: #fff;
    font-family: Poppins;
}

.bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%; 
    background-color: #000;
    overflow: auto;
    padding: 5px;
    text-align: center;
}

.nav-bar {
    position: relative;
    bottom: 0;
    justify-content: space-between;
    width: 100%; 
    padding: 8px 0;
    background-color: #2e2e2e;
    border-radius: 25px;
}

.nav-button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #48ff00;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 20%;
    transition-duration: 0.6s;
    cursor: pointer;
    transform: scale(1);
}

.nav-button:hover {
    background-color: #000;
    color: #fff;
    transform: scale(0.8);
}

#logo {
    float: left;
    margin: 10px 20px;
    font-size: 20px;
    max-width: 300px;
    height: auto;
    border: #48ff00 5px solid;
    border-radius: 50px;
    transition-duration: 0.6s;
    cursor: pointer;
    transform: scale(1);
}

#logo:hover {
    transform: scale(0.9);
}

.profileContainer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    /* border: 1px solid red; */
    margin: 20px 20px;
}

#profile-icon {
    position: relative;
    float: right;
    padding: 40px 16px;
    cursor: pointer;
    transition-duration: 0.6s;
    transform: scale(1); 
}

#profile-icon:hover {
    transform: scale(0.8); 
}

.footer {
    background-color: #000;
    overflow: auto;
    max-width: 100%;
    padding: 15px;
    text-align: Left;
    font-size: 14px;  
    justify-content: space-between;
    align-items: center;
}


/* Scrollbar Styles */

/* This applies to the scrollbar itself */
::-webkit-scrollbar {
    width: 10px;
}

/* This applies to the track (the background) of the scrollbar */
::-webkit-scrollbar-track {
    background: #2a2a2a;
}

/* This applies to the handle (the part you drag) of the scrollbar */
::-webkit-scrollbar-thumb {
    background: #48ff00;
}

/* This applies to the handle of the scrollbar when you hover over it */
::-webkit-scrollbar-thumb:hover {
    background: #000;
}