/* Path: GameTrends/gameTrends/userApp/static/userApp/css/profileStyles.css */

.switchView {
    background-color: #2e2e2e;
    margin: 0 38%;
    margin-bottom: 5px;
    padding: 8px 20px;
    border-radius: 25px;
}

.switchViewButton {
    padding: 10px 20px;
    margin: 0 5%;
    background-color: #48ff00;
    border: none;
    border-radius: 40px;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.6s;
    cursor: pointer;
    transform: scale(1);
}

.switchViewButton:hover {
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    transform: scale(0.8);
}

.content {
    margin: 10px 10%;
    padding: 10px;
    height: auto;
    border: 5px solid #48ff00;
    border-radius: 25px;
    background-color: #000;
    text-align: center;
}

#headings {
    text-decoration: underline;
}

.iconContainer {
    position: relative;
    height: 100px;
    /* border: 1px solid red; */
}

#profilePicture {
    position: relative;
    float: left;
    margin: 10px;
    max-width: 140px;
    max-height: auto;
    border-radius: 50%;
}

#editIcon {
    position: relative;
    float: right;
    padding: 10px 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    transform: scale(1);  /* Default scale */
}

#editIcon:hover {
    transform: scale(0.8);  /* Scale up when hovered */
}

.accountInfo {
    text-align: center;
    margin: 10px 5%;
    padding: 10px;
    height: auto;
    border: 5px solid #48ff00;
    border-radius: 25px;
    background-color: #2e2e2e;
}

.gameLibrary {
    text-align: center;
    margin: 10px 5%;
    padding: 10px;
    height: auto;
    border: 5px solid #48ff00;
    border-radius: 25px;
    background-color: #2e2e2e;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    overflow-y: auto;
    max-height: 500px; /* Adjust as needed */
}

.gameItem {
    border: 1px solid #ccc;
    padding: 10px;
    position: relative; /* Add this */
}

.gameItem img {
    width: 100%;
}

.gameItem h4, .gameItem p {
    margin: 0;
    color: white; /* Change the text color so it's visible on the image */
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
}

/* Add these new styles */
.gameItem .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}