.switchView-container {
    /* border: 1px solid #F00; */
    border-radius: 25px;
    background-color: #000;
    margin: 1% 30%;
    text-align: center;
    padding: 1px;
}

.switchView {
    background-color: #2e2e2e;
    margin: 2% 25%;
    margin-bottom: 5px;
    padding: 8px 20px;
    border-radius: 25px;
}

.switchViewButton {
    padding: 10px 20px;
    margin: 0 5%;
    background-color: #48ff00;
    border: none;
    border-radius: 40px;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.6s;
    cursor: pointer;
    transform: scale(1);
}

.switchViewButton:hover {
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    transform: scale(0.8);
}

.content {
    margin: 15px 15%;
    padding: 10px;
    height: auto;
    border: 5px solid #48ff00;
    border-radius: 25px;
    background-color: #000;
    text-align: center;
}

#headings {
    text-decoration: underline;
}

.iconContainer {
    position: relative;
    height: 100px;
    /* border: 1px solid red; */
}

#profilePicture {
    position: relative;
    float: left;
    margin: 10px;
    max-width: 140px;
    max-height: auto;
    border-radius: 50%;
}

#editIcon {
    position: relative;
    float: right;
    padding: 10px 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    transform: scale(1);  
}

#editIcon:hover {
    transform: scale(0.8);  
}

.accountInfo {
    text-align: center;
    margin: 10px 15% 5% 15%;
    padding: 10px;
    height: auto;
    border: 5px solid #48ff00;
    border-radius: 25px;
    background-color: #2e2e2e;
}

.gameLibrary {
    text-align: center;
    margin: 10px 5%;
    padding: 15px;
    height: auto;
    border: 5px solid #48ff00;
    border-radius: 25px;
    background-color: #2e2e2e;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    overflow-y: auto;
    max-height: 500px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container svg {
    margin-right: 10px;
}

.gameItem {
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.6s ease;
}

.gameItem:hover {
    transform: scale(0.9);
}

.gameItem img {
    width: 100%;
}

.gameItem h4, .gameItem p {
    margin: 0;
    color: #000; 
    background: rgba(0, 255, 0, 0.6);
}

.gameItem .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.gameItem.addMore {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.6s ease;
}

.gameItem.addMore:hover {
    transform: scale(0.9);
}

.gameItem.addMore button {
    padding: 20px 40px; 
    font-size: 20px; 
    border: none;
    border-radius: 5px;
    background-color: #48ff00;
    color: #000;
    cursor: pointer;
    transition-duration: 0.6s;
}

.gameItem.addMore button:hover {
    background-color: #000;
    color: #fff;
}